extends layout

block content
  .article-container
    article.article.detail-page
      header
        // <div class="collection"><a href="#">月过女墙</a></div>
        hgroup
          h3.title= article.title
          if article.subtitle
            h4.subtitle= article.subtitle

      section.content !{article.content}

      //
        section.article-info
            a.avatar(href='/home/#{article.author._id}')
                img(src='#{article.author.avatar}', alt='作者')
            a(href='/home/#{article.author._id}') #{article.author.nickname}
            | 发表在
            a(href='#') 人物

      div.operations
        if article.isRecommended
          button#recommend-article.btn.btn-success 已推荐
        else
          button#recommend-article.btn.btn-default 推荐


        //
          ul.social-share
            li

      div.row.detailed-info
        div.col-lg-6.info-card.author-info
          h3 作者
          - var author = article.author;
          .media
            a.pull-left.author-avatar(href='/home/#{author._id}')
                img.media-object(src='#{author.avatar_m}', alt='头像')
            .media-body
                h4.media-heading
                  a(href='/home/#{author._id}')= author.nickname
                //= article.author.intro
                = author.intro ? author.intro : '这家伙很懒，什么都没留下。'

                - var isMyself = author != null && user != null && author._id.toString() === user._id.toString();
                if !isMyself
                  .follow-wrapper
                    if author.isFollowing
                      button.follow-user.btn.btn-sm.btn-success(data-uid=author._id.toString()) 已关注
                    else
                      button.follow-user.btn.btn-sm.btn-default(data-uid=author._id.toString()) 关注

        if article.collection
            div.col-lg-6.info-card.collection-info
              h3 文集
              .collection-body
                h4.collection-title
                  a(href='/collection/#{article.collection._id}')= article.collection.name
                = article.collection.intro
                .follow-wrapper
                  if article.collection.isFollowing
                      button.subscribe-coll.btn.btn-sm.btn-success(data-collid=article.collection._id.toString()) 已订阅
                  else
                      button.subscribe-coll.btn.btn-sm.btn-default(data-collid=article.collection._id.toString()) 订阅


    script.
      console.log('user._id');
      console.log('#{user ? user._id.toString() : ''}');
      console.log('article.author._id:');
      console.log('#{article.author._id.toString()}');
    if user && user._id.toString() == article.author._id.toString()
      ul.buttons
        li
          button#edit-btn.btn.btn-success(type='button') 编辑

block script
  script.
    var articleId = window.location.href.replace(/.+\/article\/(.+)/, '$1');
    $('#edit-btn').click(function(e) {
        window.location.href = '/write/' + articleId;
    });