extends layout

block content
  .article-container
    article.article.detail-page
      header
        // <div class="collection"><a href="#">月过女墙</a></div>
        hgroup
          h3.title= article.title
          if article.subtitle
            h4.subtitle= article.subtitle

      section.content !{article.content}

      //
        section.article-info
            a.avatar(href='/home/#{article.author._id}')
                img(src='#{article.author.avatar}', alt='作者')
            a(href='/home/#{article.author._id}') #{article.author.nickname}
            | 发表在
            a(href='#') 人物

      div.operations
        if article.isRecommended
          button#recommend-article.btn.btn-success 已推荐
        else
          button#recommend-article.btn.btn-default 推荐


        //
          ul.social-share
            li

      div.row.detailed-info
        div.col-lg-6.info-card.author-info
          h3 作者
          - var author = article.author;
          .media
            a.pull-left.author-avatar(href='/home/#{author._id}')
                img.media-object(src='#{author.avatar}', alt='头像')
            .media-body
                h4.media-heading
                  a(href='/home/#{author._id}')= author.nickname
                //= article.author.intro
                = author.intro ? author.intro : '这家伙很懒，什么都没留下。'

                .follow-wrapper
                  if author.isFollowing
                    button#user-follow-btn.btn.btn-sm.btn-success 已订阅
                  else
                    button#user-follow-btn.btn.btn-sm.btn-default 订阅

        div.col-lg-6.info-card.collection-info
          h3 文集


    script.
      console.log('user._id');
      console.log('#{user._id.toString()}');
      console.log('article.author._id:');
      console.log('#{article.author._id.toString()}');
    if user._id.toString() == article.author._id.toString()
      ul.buttons
        li
          button#edit-btn.btn.btn-success(type='button') 编辑

    a.home(href='/')
      img(src='/images/mo/7935875_203322167100_2.jpg' alt='')

block script
  script.
    var articleId = window.location.href.replace(/.+\/article\/(.+)/, '$1');
    $('#edit-btn').click(function(e) {
        window.location.href = '/write/' + articleId;
    });

    $('#recommend-article').click(function(e) {
        // 根据class来判断要做何操作
        var that = $(this);
        var op = that.is('.btn-default') ? 1 : 0;

        $.ajax({
            url: '/recommend_article',
            data: {
                op: op,
                articleId: articleId
            }
        }).done(function(data) {
            if (data.status == 'success') {
                if (data.data.isRecommended) {
                    that.removeClass('btn-default').addClass('btn-success');
                    that.text('已推荐')
                } else {
                    that.removeClass('btn-success').addClass('btn-default');
                    that.text('推荐');
                }
            } else {
                alert(data.message);
            }
        });
    });

    var followBtn = $('#user-follow-btn');

    var uid = '#{author._id}';

    followBtn.click(function(e) {
        var isFollowing = followBtn.is('.btn-success');
        $.ajax({
            url: '/follow_user',
            data: {
                uid: uid,
                op: isFollowing ? 0 : 1
            }
        }).success(function(data) {
            if (data.status == 'success') {
                if (data.data.isFollowing) {
                    followBtn.removeClass('btn-default').addClass('btn-success');
                    followBtn.text('已订阅');
                } else {
                    followBtn.removeClass('btn-success').addClass('btn-default');
                    followBtn.text('订阅');
                }
            } else {
                alert(data.message);
            }
        });
    });
