extends layout
block content
    .main-container
        ul.collections
            each collection in collections
                li.collection

                    a.coll-link(href='/collection/#{collection._id}')
                      span.name= collection.name
                      span.intro= collection.intro

                    if collection.isFollowing
                        button.btn.btn-sm.btn-success.follow-btn(data-collid=collection._id.toString()) 已订阅
                    else
                        button.btn.btn-sm.btn-default.follow-btn(data-collId=collection._id.toString()) 订阅

        ul.buttons
            li
                button#create-collection.btn.btn-success(type='button') 创建文集

block script
    script.
        $('#create-collection').click(function(e) {
            window.location.href = '/edit_collection';
        });

        $('.follow-btn').click(function(e) {
            var button = $(this);
            var isFollowing = button.is('.btn-success');
            var collId = button.data('collid');
            var url;

            if (isFollowing) {
                url = '/coll_unsubscribe';
            } else {
                url = '/coll_subscribe';
            }

            $.ajax({
                url: url,
                data: {collId: collId}
            }).done(function(data) {
                if (data) {
                    if (data.status == 'success') {
                        if (data.data.isFollowing) {
                            button.removeClass('btn-default').addClass('btn-success').text('已订阅');
                        } else {
                            button.removeClass('btn-success').addClass('btn-default').text('订阅');
                        }
                    } else {
                        alert(data.message);
                    }
                } else {
                    alert('操作失败');
                }
            }).fail(function(data) {
                alert('操作失败');
            })
        });