extends layout

block content
  .main-container

    header.collection-header
      h2= collection.name
      div.intro= collection.intro
      div.follow-wrapper
        if collection.isFollowing
          button.btn.btn-lg.btn-success.subscribe-coll(data-collid=collection._id.toString()) 已订阅
        else
          button.btn.btn-lg.btn-default.subscribe-coll(data-collid=collection._id.toString()) 订阅

    section.article-list
        each article in collection.articles
            article.article
              header
                // <div class="collection"><a href="#">月过女墙</a></div>
                hgroup
                  h3.title
                    a(href='/article/#{article._id}') #{article.title}
                  h4.subtitle
                    a(href='/article/#{article._id}') #{article.subtitle}
                section.article-info
                  a.avatar(href='/home/#{article.author._id}')
                    img(src='#{article.author.avatar_s}', alt='作者')
                  a(href='/home/#{article.author._id}')= article.author.nickname
                  | 发表在
                  a(href='/collection/#{collection._id}', onclick='return false;')= collection.name

    ul.buttons
      li
        button#contribute.btn.btn-default(type='button') 投稿
      if user && user._id.toString() == collection.creator.toString()
        li
          button#edit-btn.btn.btn-success(type='button') 编辑

    div#choose-articles.choose-articles(style='display: none;')



block script
    script.
        var collId = '#{collection._id}';

        $('#edit-btn').click(function(e) {
            window.location.href = '/edit_collection/' + collId;
        });

        var articlesWrapper = $('#choose-articles');

        $('#contribute').on('click', function(e) {
            if (articlesWrapper.is(':visible'))
                return;

            $.ajax({
                url: '/myarticles',
                data: {
                    collId: collId
                }
            }).done(function(data) {
                if (data.status == 'success') {
                    articlesWrapper.html(data.data.html);
                    articlesWrapper.slideDown();
                } else if (data.status == 'fail') {
                    switch (data.code) {
                        case 1:
                            LoginUtil.login();
                            bread;
                        default:
                            alert(data.message);
                            break;
                    }
                } else {
                    alert(data.message);
                }
            });
        });

        articlesWrapper.on('click', '.add-my-article', function(e) {
            e.preventDefault();
            var that = $(this);
            var item = that.closest('li');
            var articleId = item.data('id');
            if (item.is('.already-contributed')) {
                return;
            }
            $.ajax({
                url: '/contribute',
                data: {
                    articleId: articleId,
                    collId: collId
                }
            }).done(function(data) {
                if (data.status == 'success') {
                    item.addClass('already-contributed');
                } else {
                    alert(data.message);
                }
            });
        }).on('click', '.remove-article', function(e) {
            e.preventDefault();
            var that = $(this);
            var item = that.closest('li');
            var articleId = item.data('id');

            $.ajax({
                url: '/decontribute',
                data: {
                    articleId: articleId,
                    collId: collId
                }
            }).done(function(data) {
                if (data.status == 'success') {
                    item.removeClass('already-contributed');
                } else {
                    alert(data.message);
                }
            });
        });

        $(document).mouseup(function(e) {
            if (!articlesWrapper.is(e.target) && articlesWrapper.has(e.target).length === 0) {
                articlesWrapper.slideUp();
            }
        });
