extends layout
block content
    .main-container
        h1.h1 草稿


        if !articles || articles.length == 0
            .empty-instruct 暂时没有草稿
        else
            div.user-section
                h3.section-title 草稿
                each article in articles
                    article.article
                        header
                            // <div class="collection"><a href="#">月过女墙</a></div>
                            hgroup
                                h3.title
                                    a(href='/write/#{article._id}')= article.title
                                h4.subtitle
                                    a(href='/write/#{article._id}')= article.subtitle
                        //-
                            section.article-info
                                a.avatar(href='#' onclick='return false;')
                                    img(src='#{user.avatar_s}', alt='头像')
                                a(href='/home/#{user._id}')= user.nickname
                                if article.collection
                                    | 发表在
                                    a(href='/collection/#{article.collection._id}')= article.collection.name

        ul.buttons
            li
                button#new-article.btn.btn-success(type='button') 新文章

