extends layout

block css
  link(rel='stylesheet' href='/editor/css/medium-editor.css')
  link(rel='stylesheet' href='/editor/css/themes/default.css')

block content
  div.main-container
    header.user-header
      div.user-logo
        img(src='#{targetUser.avatar_l}', alt='头像')
      h1#nickname.nickname.editable(data-placeholder='请输入昵称', data-disable-toolbar='true', data-disable-return='true') #{targetUser.nickname}
      p#userIntro.user-intro.editable(data-placeholder='请介绍一下你自己', data-disable-toolbar='true', data-disable-return='true')
        = targetUser.intro ? targetUser.intro : '这家伙很懒，什么都没留下。'
      - var isMyself = user != null && targetUser != null && user._id.toString() === targetUser._id.toString()
      if !isMyself
        .follow-wrapper
          if targetUser.isFollowing
            button#subscribe-btn.btn.btn-lg.btn-success 已关注
          else
            button#subscribe-btn.btn.btn-lg.btn-default 关注
      else
        .edit-btns
          button#cancel-btn.btn.btn-default.cancel-btn 取消
          button#save-btn.btn.btn-success 保存

    div.user-section
      h3.section-title 他的文章
      each article in articles
        article.article
          header
              // <div class="collection"><a href="#">月过女墙</a></div>
            hgroup
              h3.title
                a(href='/article/#{article._id}')= article.title
              h4.subtitle
                a(href='/article/#{article._id}')= article.subtitle
            section.article-info
              a.avatar(href='#' onclick='return false;')
                img(src='#{targetUser.avatar_s}', alt='头像')
              a(href='/home/#{targetUser._id}')= targetUser.nickname
              if article.collection
                | 发表在
                a(href='/collection/#{article.collection._id}')= article.collection.name

    if collections && collections.length > 0
        div.user-section
          h3.section-title 他的文集
          ul.collections
            each collection in collections
                li.collection

                    a.coll-link(href='/collection/#{collection._id}')
                        span.name= collection.name
                        span.intro= collection.intro

                    if collection.isFollowing
                        button.btn.btn-sm.btn-success.follow-btn(data-collid=collection._id.toString()) 已订阅
                    else
                        button.btn.btn-sm.btn-default.follow-btn(data-collId=collection._id.toString()) 订阅


      //article.article
      //  header
      //    // <div class="collection"><a href="#">月过女墙</a></div>
      //    hgroup
      //      h3.title
      //        a(href='/article') 寻找隐世巨声人物
      //      h4.subtitle
      //        a(href='/article') 最近，我看了一部电影，荣获2013年度奥斯卡最佳纪录片奖的《寻找隐世巨声》。电影讲了一个怀才不遇的故事。
      //    section.article-info
      //      a.avatar(href='#')
      //        img(src='/images/avatar.jpeg', alt='作者')
      //      a(href='#') 蔡子强
      //      | 发表在
      //      a(href='#') 南方人物周刊
      //article.article
      //  header
      //    // <div class="collection"><a href="#">月过女墙</a></div>
      //    hgroup
      //      h3.title
      //        a(href='/article') 天色已晚
      //      h4.subtitle
      //        a(href='/article') 我已经三个月零十七天没有吃肉了，我的三个哥哥和两个妹妹也是。捉襟见肘的生活使得母亲小心翼翼地避免谈到肉，但邻居家飘来的肉香引起了我们的注意。
      //    section.article-info
      //      a.avatar(href='#')
      //        img(src='/images/avatar.jpeg', alt='作者')
      //      a(href='#') 朱山坡
      //      | 发表在
      //      a(href='#') 朔方
      //article.article
      //  header
      //    // <div class="collection"><a href="#">月过女墙</a></div>
      //    hgroup
      //      h3.title
      //        a(href='/article') 星空下跳舞的女人
      //      h4.subtitle
      //        a(href='/article')
      //          | 到家前，去附近的“85度C”面包坊买面包。付账时，排在我前面的是位头发花白的老妇人。她没有拿面包，只买了一杯胚芽豆奶，然后靠窗坐下，用吸管搅拌两下，喝了一口，开始看报纸。
      //    section.article-info
      //      a.avatar(href='#')
      //        img(src='/images/avatar.jpeg', alt='作者')
      //      a(href='#') 滕肖澜
      //      | 发表在
      //      a(href='#') 豆瓣网

    if recommends && recommends.length > 0
        div.user-section.user-recommended
          h3.section-title 他的推荐
          each article in recommends
              article.article
                header
                  // <div class="collection"><a href="#">月过女墙</a></div>
                  hgroup
                    h3.title
                      a(href='/article/#{article._id}')= article.title
                    // <h4 class="subtitle"><a href="/article">我已经三个月零十七天没有吃肉了，我的三个哥哥和两个妹妹也是。捉襟见肘的生活使得母亲小心翼翼地避免谈到肉，但邻居家飘来的肉香引起了我们的注意。</a></h4>
                  section.article-info
                    a.avatar(href='/home/#{article.author._id}')
                      img(src='#{article.author.avatar_s}', alt='作者')
                    a(href='/home/#{article.author._id}')= article.author.nickname
                    if article.collection
                      | 发表在
                      a(href='/collection/#{article.collection._id}')= article.collection.name

    if isMyself
      ul.buttons
        li
          button#edit-profile.btn.btn-default(type='button') 编辑个人资料
        li
          button#logout.btn.btn-default(type='button') 退出


block script
    script(src='/editor/js/medium-editor.js')
    script.
        var uid = '#{targetUser._id}';
        var followBtn = $('#subscribe-btn');

        followBtn.click(function(e) {
            var isFollowing = followBtn.is('.btn-success');
            $.ajax({
                url: '/follow_user',
                data: {
                    uid: uid,
                    op: isFollowing ? 0 : 1
                }
            }).success(function(data) {
                if (data.status == 'success') {
                    if (data.data.isFollowing) {
                        followBtn.removeClass('btn-default').addClass('btn-success');
                        followBtn.text('已订阅')
                    } else {
                        followBtn.removeClass('btn-success').addClass('btn-default');
                        followBtn.text('订阅')
                    }
                } else {
                    alert(data.message);
                }
            });
        });

        $('.follow-btn').click(function(e) {
            var button = $(this);
            var isFollowing = button.is('.btn-success');
            var collId = button.data('collid');
            var op;

            if (isFollowing) {
                op = '0';
            } else {
                op = '1';
            }

            $.ajax({
                url: '/subscribe_coll',
                data: {collId: collId, op: op}
            }).done(function(data) {
                if (data) {
                    if (data.status == 'success') {
                        if (data.data.isFollowing) {
                            button.removeClass('btn-default').addClass('btn-success').text('已订阅');
                        } else {
                            button.removeClass('btn-success').addClass('btn-default').text('订阅');
                        }
                    } else {
                        alert(data.message);
                    }
                } else {
                    alert('操作失败');
                }
            }).fail(function(data) {
                alert('操作失败');
            })
        });

        $('#logout').click(function(e) {
            window.location.href = '/logout';
        });

        function toEnd(el) {
            var len = el.innerHTML.length || 0;
            console.log(len);
            if (len) {
                if ('setSelectionRange' in el) el.setSelectionRange(len, len);
                else if ('createTextRange' in el) {// for IE
                    var range = el.createTextRange();
                    range.moveStart('character', len);
                    range.select();
                }
            }
        }

        var isEditorInited = false;
        var editors;
        var editBtns = $('.edit-btns');
        var INTRO_DEFAULT = '这家伙很懒，什么都没留下。';
        var userIntro = $('.user-intro');
        var nickname = $('.nickname');

        $('#edit-profile').click(function(e) {
            if (editBtns.is(':visible')) {
                cancelEdit();
            } else {
                if (userIntro.text() == INTRO_DEFAULT) {
                    userIntro.text('');
                }
                if (!isEditorInited) {
                    editors = new MediumEditor('.editable');
                    isEditorInited = true;
                } else {
                    editors.activate();
                }

                nickname.focus();

                $('html, body').animate({ scrollTop: 0 }, function() {
                    editBtns.fadeIn();
                });
            }
        });

        function completeEdit() {
            var values = editors.serialize();
            if (!values.userIntro.value) {
                userIntro.html(INTRO_DEFAULT);
            }
            editors.deactivate();
            editBtns.fadeOut();
        }

        $('#cancel-btn').click(function(e) {
            completeEdit();
        });

        $('#save-btn').click(function(e) {
            var values = editors.serialize();
            console.log(values);

            $.ajax({
                url: '/users/' + uid,
                method: 'PUT',
                data: {
                    nickname: values.nickname.value,
                    intro: values.userIntro.value
                }
            }).done(function(data) {
                if (data.status == 'success') {
                    completeEdit();
                } else {
                    alert(data.message);
                }
            }).fail(function(jqXHR, textStatus, error) {
                alert(textStatus);
            });
        });

        nickname.keyup(function(e) {
            var key = e.which;
            if (key === 13) {
                userIntro.focus();
            }
        });

        userIntro.keyup(function(e) {
            var key = e.which;
            if (key === 13) {
                $('#save-btn').click();
            }
        });