extends layout

block content
  .main-container
    each article in articles
        article.article
          header
            // <div class="collection"><a href="#">月过女墙</a></div>
            hgroup
              h3.title
                a(href='/article/#{article._id}') #{article.title}
              h4.subtitle
                a(href='/article/#{article._id}') #{article.subtitle}
            section.article-info
              a.avatar(href='/home/#{article.author._id}')
                img(src='#{article.author.avatar}', alt='作者')
              a(href='/home/#{article.author._id}')= article.author.nickname
              | 发表在
              a(href='#') 人物


    //article.article
    //  header
    //    // <div class="collection"><a href="#">月过女墙</a></div>
    //    hgroup
    //      h3.title
    //        a(href='./article') 寻找隐世巨声人物
    //      h4.subtitle
    //        a(href='./article') 最近，我看了一部电影，荣获2013年度奥斯卡最佳纪录片奖的《寻找隐世巨声》。电影讲了一个怀才不遇的故事。
    //    section.article-info
    //      a.avatar(href='./home/5379ea9a3faa674807000001')
    //        img(src='/images/avatar.jpeg', alt='作者')
    //      a(href='./home/5379ea9a3faa674807000001') 蔡子强
    //      | 发表在
    //      a(href='#') 南方人物周刊
    //article.article
    //  header
    //    // <div class="collection"><a href="#">月过女墙</a></div>
    //    hgroup
    //      h3.title
    //        a(href='./article') 天色已晚
    //      h4.subtitle
    //        a(href='./article') 我已经三个月零十七天没有吃肉了，我的三个哥哥和两个妹妹也是。捉襟见肘的生活使得母亲小心翼翼地避免谈到肉，但邻居家飘来的肉香引起了我们的注意。
    //    section.article-info
    //      a.avatar(href='./home/5379ea9a3faa674807000001')
    //        img(src='/images/avatar.jpeg', alt='作者')
    //      a(href='#') 朱山坡
    //      | 发表在
    //      a(href='./home/5379ea9a3faa674807000001') 朔方
    //article.article
    //  header
    //    // <div class="collection"><a href="#">月过女墙</a></div>
    //    hgroup
    //      h3.title
    //        a(href='./article') 星空下跳舞的女人
    //      h4.subtitle
    //        a(href='./article')
    //          | 到家前，去附近的“85度C”面包坊买面包。付账时，排在我前面的是位头发花白的老妇人。她没有拿面包，只买了一杯胚芽豆奶，然后靠窗坐下，用吸管搅拌两下，喝了一口，开始看报纸。
    //    section.article-info
    //      a.avatar(href='./home/5379ea9a3faa674807000001')
    //        img(src='/images/avatar.jpeg', alt='作者')
    //      a(href='./home/5379ea9a3faa674807000001') 滕肖澜
    //      | 发表在
    //      a(href='#') 豆瓣网
    //article.article
    //  header
    //    // <div class="collection"><a href="#">月过女墙</a></div>
    //    hgroup
    //      h3.title
    //        a(href='./article') 患儿朱德庸
    //      h4.subtitle
    //        a(href='./article') 那一刻，我原谅了自己
    //    section.article-info
    //      a.avatar(href='./home/5379ea9a3faa674807000001')
    //        img(src='/images/avatar.jpeg', alt='作者')
    //      a(href='./home/5379ea9a3faa674807000001') 朱德庸
    //      | 发表在
    //      a(href='#') 人物






